h1 {
    color:black;
    font-family: "Courier New","Lucida Console", monospace ;
    width: 95%;
    padding: 20px;
    border: 5px solid gray;
    margin: 0;
    text-decoration: none;
}

.center {
    text-align: center;
}

body{
    background-color:silver;
}

.container {
    display: flex;
    justify-content: space-around;
    color: black;
    font-family: "Courier New", "Lucida Console", monospace;


}

.about {
    width: 25%;
    left: 8%;
    padding: 10%;
    border: solid black;

    
}

.projects {
    width: 25%;
    left: 41%;
    border: solid black;
    padding: 10%;

} 

.something_else {
    width: 25%;
    left: 78%;
    border: solid black;
    padding: 10%;

} 



p, li {
    color: green;
}

li {
    list-style-type: circle;
}

li.special {
    color: orange;
    font-weight: bold;
}

body h1 + p .special{
    color: yellow;
    background-color: black;
    padding: 5px;
}